*.o
*~
#*#
*.a
*.so
*.gz
*.gcno
*.gcda
TAGS
tests/report/
tests/coverage.info
errors/*.cpp
conf/incoming
debian/files
debian/.debhelper
debian/liblapin-*
misc/docs/website/fr/manual/*/*
misc/docs/website/en/manual/*/*
misc/programs/utils/cineplayer/cineplayer
misc/programs/utils/fetchconf/fetchconf
misc/programs/utils/joypanel/joypanel
misc/programs/utils/mergeconf/mergeconf
misc/programs/utils/soundrope/soundrope
