/*
** Jason Brillante "Damdoshi"
** Hanged Bunny Studio 2014-2018
**
** La Caverne Aux Lapins Noirs
*/

@font-face
{
    font-family: "Futura";
    src: url("../res/futura.ttf");
}

body
{
    font-family: Futura;
    background-color: black;
}

header
{
    background-image: url("../res/granit_header.png");
}

.HeaderOverlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, white);
}

header div
{
}

header h1
{
    color: white;
    text-shadow:
    0px 0px 8px black,
    0px 0px 8px black,
    0px 0px 8px black,
    0px 0px 8px black,
    0px 0px 8px black,

    0px 3px 8px black,
    0px 3px 8px black,
    0px 3px 8px black
    ;
}

nav
{
    background-image: url("../res/granit_menu.png");
}

nav div
{
    background-image: url("../res/granit_button_menu.png");
}

nav a:hover
{
    text-shadow:
    0px 0px 30px black,
    0px 0px 30px black
    ;
}

footer
{
    background-image: url("../res/granit_footer.png");
    color: white;
    text-shadow:
    0px 0px 8px black,
    0px 0px 8px black,
    0px 0px 8px black,
    0px 0px 8px black,
    0px 0px 8px black
    ;
}

#Body
{
    background-color: white;
}

#Body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#Body::-webkit-scrollbar
{
    width: 24px;
    background-color: #F5F5F5;
}

#Body::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border: 2px solid #555555;
}



.prime_list
{
    padding-left: 50px;
    list-style-type: none;
}

.second_list
{
    list-style-type: none;
}

.second_list h3
{

}

.button
{
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.25);
    text-align: center;
}

.button:hover
{
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.125);
    text-align: center;
}

.button:active
{
    border: 1px solid rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.25);
    text-align: center;
}

.doc_entry
{
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.25);
}

.home div
{
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.25);
}

.doc_symbol
{
    color: darkblue;
    font-weight: bold;
}

.doc_keyword
{
    color: teal;
    font-weight: bold;
}

.doc_type
{
    color: green;
}

.doc_constant
{
    color: purple;
    font-weight: bold;
}

.doc_strong
{
    font-weight: bold;
}

.doc_litteral
{
    color: green;
}

.doclink
{
    color: gray;
}

.doclink:hover
{
    text-decoration: underline;
}

.prototype
{
}

.resume
{
}

.parameters
{
}

.return
{
}

.details
{
}

.error_and_log
{
}

.go_up a
{
    color: gray;
}

.go_up a:hover
{
    text-decoration: underline;
}
