Source: liblapin-dev
Priority: optional
Maintainer: Jason Brillante Damdoshi <damdoshi@hotmail.com>
Build-Depends:
  debhelper (>= 9), make, g++, libsfml-dev (>= 2.4), libusb-dev (>=2)
Standards-Version: 1.11
Section: graphics
Homepage: http://hangedbunnystudio.com/sub/liblapin

Package: liblapin-dev
Architecture: all
Depends:
  debhelper (>= 9), make, g++, libsfml-dev (>= 2.4), libusb-dev (>=2),
  ${misc:Depends}
Description: Daemon and API to monitor service status
 This package brings binaries and headers of the game libary LibLapin.
 The LibLapin (aka "BunnyLibrary") was started as a library for rookies
 in C programming and as a game jam library.


