#!/usr/bin/make -f

export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS=hardening=+all
MAKEFLAGS=-j16

%:
	dh $@

override_dh_auto_build:
	$(MAKE) prod debug build_utils
	cp /tmp/liblapin.a liblapin.a
	cp /tmp/liblapin-dbg.a liblapin-dbg.a

override_dh_auto_install:
	:
